.features
{
	font-size: 2.2rem;
	letter-spacing: 4vh;
}
.bots
{
	font-size: 220%;
}
.page-header
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 15%;
	padding-right: 15%;
}
.Safe-text
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#empty, #empty-pricing, #empty-roadmap{
	width: 100%;
	height: 10vh;
}

.vertical-timeline-element-icon{
	background: url('../robots/cyborg.png');
	background-size: cover;
}
.blockchain{
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.space-between{
	height: 5vh;
}
.bg-info
{
	background-color: #161941 !important;
	height: 6vh !important;
	
}
.navbar-transparent{
	background-color: #5CD3FF !important;
	height: 6vh !important;
}

.Safety-logo{
	height: 4.5vh;
	width: 5vh;
}
.Safety-logo-footer{
	height: 15vh;
	width: 16vh;
}

.pricing-redirection-container{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}
.__button-container{
	width: 30vh;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.robot-pricing-redirect{
	width: 50vh;
	height: 60vh;
}
.last-card-container{
	justify-content: center;
}
.not-found-container{
	margin-top: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.feature_content{
	font-size: 14.5px;
}

.step-container{
	color: #F719FE;
}

.mantine-ittua2{
	color: white !important;
}
.next-step-container{
	background-color: #F719FE;
}
.wallet-adapter-button-trigger {
    background-color: #BD00FA !important;
}
.price{
	font-size: 2vh;
}
.display-card{
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
.confirm-button {
	text-transform: uppercase;
	letter-spacing: 2.6px;
	font-weight: 700;
	color: #313133;
	background: #65D9E8;
  	background: linear-gradient(90deg, #65d9e8 0%, #65d9e8 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(76, 203, 190, 0.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
}
.confirm-button:hover, .confirm-button:focus {
	color: #313133;
	transform: translateY(-6px);
}
  
.confirm-button:hover::before, .confirm-button:focus::before {
	opacity: 1;
}
.confirm-button:hover::after, .confirm-button:focus::after {
	animation: none;
	display: none;
}

@media only screen and (max-width: 1360px) {
	.card-text {
		font-size: 85%;
	}
	.text-uppercase{
		font-size: 99%;
	}
}
@media only screen and (max-width: 1200px) {
	.card-text {
		font-size: 120%;
	}
	.text-uppercase{
		font-size: 130%;
	}
}

@keyframes ring {
	0% {
		width: 30px;
		height: 30px;
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
		opacity: 0;
	}
}

@media only screen and (max-width: 990px)
{
	.drop{
		transform: translate3d(calc(100% - 160%), 36px, 0px) !important;
	}
	.ConnectWalletButton{
		height: 32px;
	}
}
