.features{
	font-size: 3rem;
	letter-spacing: 4vh;
}
.bots{
	font-size: 200%;
}
.page-header{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 15%;
	padding-right: 15%;
}
.Safe-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#empty{
	width: 100%;
	height: 10vh;
}
#empty-roadmap{
	width: 100%;
	height: 10vh;
}
.vertical-timeline-element-icon{
	background: url('./assets/robots/cyborg.png');
	background-size: cover;
}
.blockchain{
	/* height: 110%; */
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
}