.features
{
	font-size: 2.2rem;
	letter-spacing: 4vh;
}
.bots
{
	font-size: 220%;
}
.page-header
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 15%;
	padding-right: 15%;
}
.Safe-text
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#empty{
	width: 100%;
	height: 10vh;
}
#empty-pricing{
	width: 100%;
	height: 10vh;
}
#empty-roadmap{
	width: 100%;
	height: 10vh;
}
.vertical-timeline-element-icon{
	background: url('./assets/robots/cyborg.png');
	background-size: cover;
}
.blockchain{
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.space-between{
	height: 5vh;
}
.bg-info{
	background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%) !important;
	
}
.Safety-logo{
	height: 4.5vh;
	width: 5vh;
}
.Safety-logo-footer{
	height: 15vh;
	width: 16vh;
}

.pricing-redirection-container{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}
.__button-container{
	width: 30vh;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.robot-pricing-redirect{
	width: 50vh;
	height: 60vh;
}
.last-card-container{
	justify-content: center;
}
.not-found-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.feature_content{
	font-size: 16px;
}

.step-container{
	color: #F719FE;
}

.mantine-ittua2{
	color: white !important;
}